
/* For Mobile */
@media only screen and (max-width: 768px) {

	body {
		padding: 0px;
		margin-top: 0px;
		text-align: top;
		background-color: #f8f8f8;
		margin: auto;
		width: 100%;
	}

	#wrapper {
		width: 100%;
	}

	#super_head {
		text-align: center;
		background-color: yellow;
		color: red;
		width: 100%;
	}
	
	#top_img_div {
		width: 100%;
	}

	#top_img {
		width: 100%;
		height: auto;
	}

	#main_title {
		text-align: center;
	}
	
	h1 {
		color: #339933;
	}
	
	#content {
		padding: 5px;
	}
	
	#social_div {
	}

} /* end of mobile section */

/* For Desktops */
@media only screen and (min-width: 768px) {
body {
	padding: 0px;
	margin-top: 0px;
	text-align: top;
	background-color: #f8f8f8;
	margin: auto;
}

#wrapper {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-align: left;
	margin-right: 20%;
	margin-left: 20%;
}

#super_head {
	text-align: center;
	color: red;
	font: bold;
	background-color: yellow;
}

.flex {
	display: flex;
}

#header {
	text-align: left;
}

#top_img_div {
	width: 32%;
}

#top_img {
	width: 90%;
	height: auto;
}

#main_title {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	color: #339933;
}

.content {
	padding: 2px;
}

#left_cont {
	width: 80%;
	margin-right: 2px;
}

#right_cont {
	flex-grow: 1;
	margin-left: 2px;
}

p {
	width: 80%;
}

} /* end of desktop section */


#social_div {
	list-style: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

.social_links {
	margin: 0px;
	margin-top: 3px;
	width: 250px;
	padding: 2px;
	display: block;
	height: 40px;
	border: 2px solid #339933;
	text-align: left;
	display: flex;
	color: black;
	align-items: center;
	justify-content: center;
}

#facebook_logo {
	width: 10%;
	height: auto;
	padding-right: 3px;
}

.social_links:hover {
	background-color: #d9f2d9;
}

.social_links:active {
	background-color: #b3e5b3;
}

#email_div {
	font-size: 13px;
}
