body {
	padding: 0px;
	margin-top: 0px;
	text-align: top;
	margin: auto;
}

#wrapper {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-align: left;
	background-color: grey;
	margin-right: 15%;
	margin-left: 15%;
}

#super_head {
	margin-right: 15%;
	margin-left: 15%;
	text-align: center;
	color: red;
	font: bold;
	background-color: yellow;
}

.flex {
	display: flex;
}

#header {
	text-align: left;
}

#top_img_div {
	width: 32%;
}

#top_img {
	width: 90%;
	height: auto;
}

#main_title {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.content {
	padding: 2px;
}

#left_cont {
	width: 80%;
	margin-right: 2px;
}

#right_cont {
	flex-grow: 1;
	margin-left: 2px;
}

p {
	width: 80%;
}
